* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asume que quieres centrar el contenido verticalmente en toda la página */
}

.login {
    display: flex;
    flex-direction: column;
    height:50%;
    width: 40%;
    background-color: wheat;
    border-radius: 20px;
    padding: 5%;
    align-items: center;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.login h1 {
    font-size: 2rem;
    text-align: center;
    padding: 0;
    color: #333;
}

.inputs {
    width: 100%;
}

.inputs input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
} 

.boton {
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}   

.boton button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none; /* Elimina el borde por defecto */
    background-color: #333; /* Cambia el color de fondo a un tono de azul */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Añade sombra al botón */
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
}

.boton button:hover {
    background-color: #1f1e1e; /* Oscurece el color de fondo cuando se pasa el ratón por encima */
    color: #fff;
}

